/**
    Color schemes:
*/
$dark: #262120;
$light: #F2F2F2;
$green: #3B945E;
$lightgreen: #57BA98;
$blue: #65CCB8;

#page-destinations {
    height: 100vh;
    min-height: 1080px;
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
    position: initial;

    footer {
        position: sticky;
        height: 250px;
        width: 100%;
    }
}
