.card {
    height: 500px;
    width: 400px;
    margin: 10px;
    background-color: whitesmoke;
    z-index: 90;
    padding: 15px;
    overflow: hidden;


    p {
        font-size: 16px;
        padding: 5px;
    }

    img {
        align-items: center;
        display: flex;
        justify-content: center;
        max-height: 250px;
    }

}
