/**
    Color schemes:
*/
$dark: #182628;
$light: #F2F2F2;
$green: #3B945E;
$lightgreen: #57BA98;
$blue: #65CCB8;

$largeScreen: 1008px;

.contact-form {
    /* margin: 1em; */
    display: grid;
    padding: 1em;
    grid-template-columns: 100%;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    box-shadow: 0px 5px 5px 0px;
    background-color: ghostwhite;
    margin: 1vh;


    @media (min-width: $largeScreen) {
        min-width: 45vw;
        min-height: 60vh;
    }

    .form-group {
        width: 100%;
        height: 100%;
        grid-row: auto;
        grid-column: auto;
        padding-bottom: 1em;

        @media (min-width: $largeScreen) {
            text-align: center;
        }


        label {
            margin-left: 0.2em;
        }

        h2 {
            text-align: center;
        }

        input[type=text] {
            margin-left: auto;
            margin-right: auto;
            display: block;
            min-width: 350px;
            min-height: 30px;
            padding: 5px;
        }

        textarea {
            margin-left: auto;
            margin-right: auto;
            display: block;
            min-width: 350px;
            min-height: 150px;
            padding: 5px;
        }

        input[type=submit] {
            width: 90%;
            max-width: 250px;
            margin-left: 0 auto;
            height: 40px;
            border: none;
            color: white;
            background: $lightgreen;
        }

        input[type=submit]:hover {
            background: $green;
        }
    }
}