/**
    Color schemes:
*/
$dark: #182628;
$light: #F2F2F2;
$green: #3B945E;
$lightgreen: #57BA98;
$blue: #65CCB8;

html,
body {
    overflow-x:hidden;
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background: $light;
}

.App {
    text-align: center;
}

main {
    width: 100%;
    height: 100%;
}


article {
    width: 100vw;
    height: 100vh;

    header {
        width: 100%;
    }

    #organismSlider {
        margin: 0px;
        width: 100%;
        padding: 0.4em;
        min-height: 375px;
    }

    .card-grid {
        margin: 0 auto;
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-gap: 1rem;
    }
}



h1, h2, h3, h4, h5, h6 {
    color: $blue;
}